<a [routerLink]="['datails/',produto.id]" class="block relative h-48 rounded overflow-hidden">
    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
</a>
<div #card class="mt-4">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ produto.categoria }}</h3>
    <h2 class="text-gray-900 title-font text-lg font-medium">{{ produto.nome | titlecase}}</h2>
    <p class="mt-1">{{ produto.valor | currency:'BRL':'symbol':'1.2-2':'PT'}}</p>
</div>