<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">

      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700 text-lg">Entrege 8 de Fev. de 2023</span>
          <span class="mt-1 text-gray-500 text-sm">Pedido em 6 de fevereiro 2023</span>
          <span class="mt-1 text-gray-500 text-sm">Número do pedido: <strong>846578</strong></span>
          <span class="mt-1 text-gray-500 text-lgm">Total <strong>R$: 254,99</strong></span>
          <a class="mt-3 text-blue-400 hover:text-red-500 hover:underline underline-offset-1 inline-flex items-center cursor-pointer">Exibir detalhes do pedido</a>
          <a class="mt-3 text-blue-400 hover:text-red-500 hover:underline underline-offset-1 inline-flex items-center cursor-pointer">Exibir recibo</a>
        </div>
        <div class="md:justify-star flex flex-col gap-2 w-full">
          <div class="grid grid-cols-3 items-center justify-around">
            <div class="flex items-center sm:flex-row flex-col justify-self-start col-span-2">
              <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 flex-shrink-0">
                <img src="https://dummyimage.com/400x400" alt="product-image" class="rounded-full" />
              </div>
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Fire TV Stick</h2>
                <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 mx-auto justify-start">
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-green-600 hover:text-green-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['fas', 'cart-arrow-down']"></fa-icon>
                Comprar novamente
              </button>
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-yellow-500 hover:text-yellow-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['far', 'star']"></fa-icon>
                Avaliar o produto
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700 text-lg">Previsto 8 de Jan. de 2023</span>
          <span class="mt-1 text-gray-500 text-sm">Pedido em 3 de janeiro 2023</span>
          <span class="mt-1 text-gray-500 text-sm">Número do pedido: <strong>87458</strong></span>
          <span class="mt-1 text-gray-500 text-lgm">Total <strong>R$: 504,99</strong></span>
          <a class="mt-3 text-blue-400 hover:text-red-500 hover:underline underline-offset-1 inline-flex items-center cursor-pointer">Exibir detalhes do pedido</a>
          <a class="mt-3 text-blue-400 hover:text-red-500 hover:underline underline-offset-1 inline-flex items-center cursor-pointer">Rastreio</a>
        </div>
        <div class="md:justify-star flex flex-col gap-2 w-full">

          <div class="grid grid-cols-3 items-center justify-around">
            <div class="flex items-center sm:flex-row flex-col justify-self-start col-span-2">
              <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 flex-shrink-0">
                <img src="https://dummyimage.com/400x400" alt="product-image" class="rounded-full" />
              </div>
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Fire TV Stick</h2>
                <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 mx-auto justify-start">
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-green-600 hover:text-green-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['fas', 'cart-arrow-down']"></fa-icon>
                Comprar novamente
              </button>
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-yellow-500 hover:text-yellow-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['far', 'star']"></fa-icon>
                Avaliar o produto
              </button>
            </div>
          </div>

          <div class="grid grid-cols-3 items-center justify-around">
            <div class="flex items-center sm:flex-row flex-col justify-self-start col-span-2">
              <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 flex-shrink-0">
                <img src="https://dummyimage.com/400x400" alt="product-image" class="rounded-full" />
              </div>
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Fire TV Stick</h2>
                <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 mx-auto justify-start">
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-green-600 hover:text-green-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['fas', 'cart-arrow-down']"></fa-icon>
                Comprar novamente
              </button>
              <button class="flex-shrink-0 text-base text-white bg-gray-500 hover:bg-yellow-500 hover:text-yellow-800 border-0 py-1 px-4 focus:outline-none  rounded sm:mt-0">
                <fa-icon class="" [icon]="['far', 'star']"></fa-icon>
                Avaliar o produto
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>